.DS_Store
.vscode
.idea
.nuxt
.temp
*.log
components.d.ts
dist
index.json
indexes.json
node_modules
cache
packages/*/LICENSE
packages/contributing.md
packages/public/badge-*
packages/*/index.mjs
playgrounds/*/pnpm-lock.yaml
types
coverage
.eslintcache
.vitepress/cache
.turbo
